student{
	margin-left:10px;display:block;font-size:14pt;color:red;
}


usn{
	margin-left:10px;display:block;font-size:18pt;color:blue;
}


name{
	margin-left:10px;display:block;font-size:12pt;color:yellow;
}


branch{
	margin-left:10px;display:block;font-size:14pt;color:green;
}


semester{
	margin-left:10px;display:block;font-size:14pt;color:pink;
}

phone{
	margin-left:10px;display:block;font-size:14pt;color:red;
}